*{
    margin-left: 5px;
    margin-right: 5px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    background-color: rgba(20,100,255,0.07);
    font-family: arial;
}
header{
    margin-top: 10px;
    background-color: DodgerBlue;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    color: lightgray;
    text-align: center;

}
pre, p{
    text-align: justify;
    font-family: times new roman;
    font-size: 20px;
}
#posth{
    margin-top: 20px;
}
#idnav{
}
