*{
    margin: 0px;
    padding: 0px;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    background-color: rgba(20,100,255,0.07);
    font-family: arial;
}
.imgredes{
    width:180px;
    padding: 15px;
}
header{
    clear: both;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    width: 100%;
    background-image: url("images/backgroundheader.jpg");
    background-repeat:repeat-x; 

}
section{
    margin: 4px;
}
#facebook:hover{
    background-color: rgba(40,120,255,0.4);
}
#facebook{
    width:25%;
    float: right;
    margin: 0.3em auto;
    padding: 0.3em auto;
    min-height: 270px;
}
.img{
    display: inline-block;
    text-align: center;
    font-family: times new roman;
    background-color: rgba(20,100,255,0.2);

}
.imagenes{
    width: 180px;
    margin: 20px;
	  transform:rotateX(0deg);
	  transition-property: transform;
	  transition-duration: 3s;
}
.imagenes:hover{
    transform:rotateX(2000deg);
}
section{
    margin: 10px;
    margin: 0.3em auto;
    padding: 0.2em auto;
    width: 74%;
    min-height: 270px;
}
section h1{
    text-align: center;
    font-family: times new roman;

}
#logo{
    width: 12%;
    float: left;
    padding: 8px;
    margin: 0px;
    vertical-align: top;
    transform:scale(1.2,1.2);
	  transition:transform 2s;
}
#logo:hover{
    transform:scale(0.8,0.8);
}
footer{
    clear: both;
}
header h1{
    padding-top:20px;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-right: 25px;
    font-size:25px
}
header h2{
    font-family: roboto;
    padding-bottom: 25px;
    padding-top: 10px;

}
pre, p{
    text-align: justify;
    font-family: times new roman;
    font-size: 20px;
}
nav{
    background: rgba(12, 42, 74, 1);
    width: 100%;
    margin: 0px;
}
nav ul{
    overflow:auto;
    padding:  0 10.2em;
}
nav ul li{
    list-style: none;
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    float: left;
}
nav ul li a{
    color: rgba(255,255,255,1);
}
nav ul li:hover{
    background-color: blue;
}
footer{
    text-align: center;
    font-size: 20px;
    background-color: rgba(20,100,255, 0.2);
}

